# Astro build output
dist/

# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.tmp
*.temp

# Debug files
debug/

# Coverage directory used by tools like istanbul
coverage/

# Astro specific
.astro/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Miscellaneous
*.local