---
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Find your DIGIPIN - Digital Postal Index Number for locations in India">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
	</head>
	<body class="bg-gray-100  text-gray-500 transition-colors duration-300">
		<slot />
		<script is:inline>
			function getThemePreference() {
				if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
					return localStorage.getItem('theme');
				}
				return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
			}
			function setTheme(theme) {
				if (theme === 'dark') {
					document.documentElement.classList.add('dark');
				} else {
					document.documentElement.classList.remove('dark');
				}
				localStorage.setItem('theme', theme);
			}
			setTheme(getThemePreference());
		</script>
	</body>
</html>

<style is:global>
	:root {
		--font-sans: 'Inter', sans-serif;
	}
	html {
		font-family: var(--font-sans);
	}
</style>